body {
    padding: 10px;
}

a.nav-active {
    border-bottom-width: 2px;
    color: #444;
    pointer-events: none;
    cursor: default;
}

.listing-image {
    max-height: 30rem;
    object-fit: contain;
}

.list-image {
    height: 18rem;
    object-fit: cover;
}

a > .card {
    transition: all .1s;
    /* height: 15rem; */
}

a > .card:hover {
    filter: brightness(90%);
}
