body {
    padding: 10px;
}

a.nav-active {
    border-bottom-width: 2px;
    color: #444;
    pointer-events: none;
    cursor: default;
}

.listing-image {
    max-height: 30rem;
    object-fit: contain;
}