{% extends "network/layout.html" %}
{% load static %}

{% block index-active %}active{% endblock %}

{% block scripts %}
  <script src="{% static 'network/index.js' %}"></script>
  {% include "network/post_template.html" %}
{% endblock %}

{% block body %}
  <div id="posts">
    <div id="posts-header" class="row">
      <div class="col"><h2 id="heading">All Posts</h2></div>
      {% if user.is_authenticated %}
        <div class="col">
          <button id="new-btn" title="New Post">
            <span>New</span>
          </button>
        </div>
      {% endif %}
    </div>
    <div id="posts-wrapper">
    </div>
  </div>
  <div id="pages"></div>
{% endblock %}
