{% extends "network/layout.html" %}
{% load static %}

{% block index-active %}active{% endblock %}

{% block scripts %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="row align-items-baseline justify-content-between mx-sm-3 my-4">
        <div class="col-auto"><h2 id="heading">All Posts</h2></div>
        {% if user.is_authenticated %}
        <div class="col-auto">
            <button id="new-btn" class="btn btn-outline-secondary" title="New Post">
                <span class="h5">
                    <i class="bi bi-pencil-square"></i>
                     New Post 
                    <i id="new-btn-caret" class="bi bi-caret-down"></i>
                </span>
            </button>
        </div>
        {% endif %}
    </div>
    <div id="posts"></div>
    <div id="pages"></div>
{% endblock %}
