{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}
        {% comment %} <script src="https://kit.fontawesome.com/1b0347c490.js" crossorigin="anonymous"></script> {% endcomment %}
        <script src="{% static 'network/network.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container-flex">
        <nav class="navbar navbar-expand-sm navbar-light bg-light px-4">
            <a class="navbar-brand" href="/">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item {% block user-active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'username_view' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item {% block index-active %}{% endblock %}">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item {% block following-active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item {% block logout-active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item {% block login-active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item {% block register-active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>
        
        <div class="body container">
            {% block body %}
            {% endblock %}
        </div>

        {% block post-template %}
        {% endblock %}
    </body>
</html>