{% extends "network/layout.html" %}
{% load static %}

{% block user-active %}{% if user.id == user_id %}active{% endif %}{% endblock %}

{% block scripts %}
  <script src="{% static 'network/user_view.js' %}"></script>
  {% include "network/post_template.html" %}
  {% include "network/paginator_template.html" %}
{% endblock %}

{% block body %}
  <div id="user-header" class="row">
    <div class="col">
      <div>
        <div id="username-heading" class="row">
          <div class="col">
            <h1 id="username" data-userid="{{ user_id }}">{{ username }}</h1>
          </div>
          <div id="follow" class="col">
            {% if user.is_authenticated and user.id != user_id %}
            <button class="follow-btn btn btn-lg btn-link{% if is_following %} active{% endif %}"></button>
            {% endif %}
          </div>
        </div>
        <small class="text-muted font-italic">Last logged in <abbr id="last-seen" title="{{ last_login.exact }}">{{ last_login.humanized }}</abbr></small>
      </div>
    </div>
    <div class="col">
      <div id="posts-count" class="card">
        <div class="card-body">
          <h3 class="card-title">{{ posts_count }}</h3>
          <small class="card-text">post{{ posts_count | pluralize }}</small>
        </div>
      </div>
      <div id="followers-count" class="card">
        <div class="card-body">
          <h3 class="card-title">{{ followers_count }}</h3>
          <small class="card-text">follower{{ followers_count | pluralize }}</small>
        </div>
      </div>
      <div id="following-count" class="card">
        <div class="card-body">
          <h3 class="card-title">{{ following_count }}</h3>
          <small class="card-text">following</small>
        </div>
      </div>
    </div>
  </div>
  <div id="posts" class="">
    <div id="posts-wrapper"></div>
    <div class="empty"></div>
  </div>
  <div id="pages"></div>
{% endblock %}
