{% extends "network/layout.html" %}
{% load static %}

{% comment %} {% block following-active %}active{% endblock %} {% endcomment %}

{% block scripts %}
    <script src="{% static 'network/user_view.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="row align-items-center justify-content-center mx-sm-3 my-4">
        <div class="col-sm px-4 px-sm-1 py-3 py-sm-2">
        <div>
            <div id="username-heading" class="row align-items-center">
                <div class="col-auto px-2">
                    <h1 id="username" class="my-0" data-userid="{{ user_id }}">{{ username }}</h2>
                </div>
                <div id="follow" class="col-auto px-2"></div>
            </div>
            <small class="text-muted font-italic">Last logged in <span id="last_seen">{{ last_login }}</span></small>
        </div>
        </div>
        <div class="row col-sm-6  flex-shrink-0">
        <div class="col px-1">
            <div id="posts-count" class="card text-center">
                <div class="card-body p-2">
                <h3 class="card-title font-weight-bold m-0">{{ posts_count }}</h3>
                <small class="card-text">posts</small>
                </div>
            </div>
        </div>
        <div class="col px-1">
        <div id="followers" class="card text-center">
            <div class="card-body p-2">
            <h3 class="card-title font-weight-bold m-0">{{ followers_count }}</h3>
            <small class="card-text">followers</small>
            </div>
        </div>
        </div>
        <div class="col px-1">
        <div id="following" class="card text-center">
            <div class="card-body p-2">
            <h3 class="card-title font-weight-bold m-0">{{ following_count }}</h3>
            <small class="card-text">following</small>
            </div>
        </div>
        </div>
        </div>
    </div>
    <div id="posts" class=""></div>
    <div id="pages"></div>
{% endblock %}
