{% extends "network/layout.html" %}
{% load static %}

{% comment %} {% block following-active %}active{% endblock %} {% endcomment %}

{% block scripts %}
  <script src="{% static 'network/user_view.js' %}"></script>
  {% include "network/post_template.html" %}
{% endblock %}

{% block body %}
  <div id="user-header" class="row">
    <div class="col">
      <div>
        <div id="username-heading" class="row">
          <div class="col">
            <h1 id="username" data-userid="{{ user_id }}">{{ username }}</h1>
          </div>
          <div id="follow" class="col">
            {% if user.is_authenticated %}
            {% comment %} {% if user.is_authenticated and user.id != user_id %} {% endcomment %}
            <button class="follow-btn{% if is_following %} active{% endif %}"></button>
            {% endif %}
          </div>
        </div>
        <small class="text-muted font-italic">Last logged in <span id="last-seen">{{ last_login }}</span></small>
      </div>
    </div>
    <div class="col">
      <div id="posts-count" class="card">
        <div class="card-body">
          <h3 class="card-title">{{ posts_count }}</h3>
          <small class="card-text">posts</small>
        </div>
      </div>
      <div id="followers-count" class="card">
        <div class="card-body">
          <h3 class="card-title">{{ followers_count }}</h3>
          <small class="card-text">followers</small>
        </div>
      </div>
      <div id="following-count" class="card">
        <div class="card-body">
          <h3 class="card-title">{{ following_count }}</h3>
          <small class="card-text">following</small>
        </div>
      </div>
    
    </div>
  </div>
  <div id="posts" class=""></div>
  <div id="pages"></div>
{% endblock %}
