body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding: 21px 10px 10px 23px;
}

textarea {
    height: 85vh;
    width: 90%;
    margin-left: 15px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#edit_form input {
    margin: 10pt;
    display: block;
}

#id_form_name {
    margin: 0px;
    font-size: 40px;
    font-weight: 500;
    border-width: 0px 0px 2px 0px;
    padding-left: 10px;
    padding-right: 10px;
}