{% extends "auctions/layout.html" %}

{% block categories-active %}nav-active active{% endblock %}

{% block body %}
  <h2 class="mb-4">Categories</h2>

  
  {% for category in categories %}
    
    <a class="text-secondary" href="{% url 'category' category.pk %}">
        <div class="card my-2">
            <div class="card-body py-3">
                <p class="card-text">
                {{ category.name }}
                </p>
        </div>
        </div>
    </a>
  {% empty %}
    No categories
  {% endfor %}
  
{% endblock %}