{% extends "auctions/layout.html" %}

{% block body %}
  <h2 class="mb-4">{% block title %}{% endblock %}</h2>

  {% comment %} <div class="card-deck"> {% endcomment %}
  {% for listing in listings %}
  <a href="{% url 'listing' listing.pk %}" class="text-secondary text-decoration-none">
    <div class="card my-3">
        <div class="row no-gutter">
          {% if listing.image_url is not None %}
          <div class="col-md-4 col-sm-5 pr-sm-0">
            <img class="card-img list-image bg-light border-right" src="{{ listing.image_url }}" alt="{{ listing.title }}">
          </div>
          {% endif %}
          <div class="col{% if listing.image_url is not None %} pl-sm-0{% endif %}">
            <div class="card-header row mx-0">
              <div class="col px-0">
              <h5 class="my-1 font-weight-bold">{{ listing.title }}</h5>
              </div>
              <div class="col-4-sm col-7 px-0">
              <h5 class="my-1 text-right">
                {% if listing.winning_bid is not None %}   
                $&#x202F;{{ listing.winning_bid.amount | floatformat:"0" }}    
                {% else %}
                No bids
                {% endif %}
              </h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">{{ listing.short_description }}</p>
              <p class="card-text text-right font-italic"><small class="text-muted">Created by <b>{{ listing.seller }}</b> {{ listing.time|date:"j M y, G:i" }}</small></p>
            </div>
          </div>
        </div>
    </div>
  </a>
  {% empty %}
    {% block empty %}{% endblock %}
  {% endfor %}
  
{% endblock %}