{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <h2>
        {{ listing.title }}
    </h2>
    
    {% if listing not in user.watchlist.all %}
        <a href="{% url 'watch_listing' listing.pk %}">Add to Watchlist</a>
    {% else %}
        In your Watchlist (<a href="{% url 'unwatch_listing' listing.pk %}">Remove</a>)
    {% endif %}

        
    {% if listing.is_active %}
        <h3>Active</h3>
        {% if user == listing.seller %}
            <form action="{% url 'listing_close' listing.pk %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Close">
            </form>
        {% endif %}
    {% else %}
        <h3>Closed</h3>
        {% if user == listing.seller %}
            <p>Won by {{ listing.winner }}</p>
        {% elif user == listing.winner %}
            <p>You won!</p>
        {% endif %}
    {% endif %}

    <h3>
        Highest Bid: 
        {% if listing.winning_bid is not None %}
            $ {{ listing.winning_bid.amount | floatformat:2 }}
        {% else %}
            None
        {% endif %}
    </h3>
    
    {% if listing.is_active %}
        {% if user.is_authenticated %}
            <form class="row" action="{% url 'bid_new' listing.pk %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group mb-2 mx-sm-3 col">
                        <input autofocus class="form-control" required type="number" step="0.01" name="bid_amount" placeholder="Amount">
                    </div>
                    
                    <button class="btn btn-primary mb-2 col" type="submit">Bid</button>
                </div>
            </form>
        {% else %}
            <i>Log in to make a bid</i>
        {% endif %}
        <hr>
    {% endif %}
    
    {% if listing.image_url %}
    <div class="listing_image">
        <img src="{{ listing.image_url }}" />
    </div>
    {% endif %}

    <div class="listing_descr">{{ listing.description }}</div>

    <hr>

    {% if user.is_authenticated %}
        <form class="row" action="{% url 'comment_new' listing.pk %}" method="post">
            {% csrf_token %}
            <div class="form-row">
            <div class="form-group mb-2 mx-sm-3">
                <textarea class="form-control" required type="text" name="comment_text" placeholder="Write a comment"></textarea>
            </div>
            <button class="btn btn-secondary mb-2" type="submit">Post</button>
            </div>
        </form>
    {% else %}
        <i>Log in to post a comment</i>
    {% endif %}
    
    <ul>
    {% for comment in listing.comments.all|dictsortreversed:"time" %}
    <li>
        <i>{{ comment.time|date:"SHORT_DATETIME_FORMAT" }}</i> <b>{{ comment.author.username }}:</b>
        <p>{{ comment.text }}</p>
    </li>
    {% endfor %}
    </ul>
    
{% endblock %}