{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row">
    <div id="leftpane" class="col-md-7 mb-3">
    <h2 id="listing-title" class="mt-2 font-weight-bold">
        {{ listing.title }}
        {% if user.is_authenticated %}
            {% if listing not in user.watchlist.all %}
                <sup><a href="{% url 'watch_listing' listing.pk %}" class="badge badge-secondary">
                    ☆
                </a></sup>
            {% else %}
                <sup><a href="{% url 'unwatch_listing' listing.pk %}" class="badge badge-info">
                    ★
                </a></sup>
            {% endif %}
        {% endif %}
    </h2>
    
    <div class="card rounded bg-light">
        <img class="card-img-top listing-image"
             src="{% if listing.image_url is not None %}{{ listing.image_url }}{% endif %}" 
             alt="{% if listing.image_url is None %}No picture :({% endif %}"
        >
        
    </div>    

    </div>

    <div id="rightpane" class="col-md mb-3">
    <div class="row align-items-end mt-2">
            <div class="col-xs-6">
                <h2 class="mx-3">
                {% if listing.winning_bid is not None %}   
                $&#x202F;{{ listing.winning_bid.amount | floatformat:"-2" }}    
                {% else %}
                No bids
                {% endif %}
                </h2>
            </div>
            <div class="col text-right">
                {% if listing.winning_bid != listing.st_bid %} 
                <h6 class="text-muted">{{ listing.bids.count | add:-1 }}&nbsp;bid{% if listing.bids.count > 2 %}s, latest{% endif %}
                by&nbsp;{{ listing.winning_bid.bidder }}
                </h6>
                {% endif %}
            </div>
        
    </div>
    
    {% if listing.is_active %}
        {% if user.is_authenticated %}
            <form action="{% url 'bid_new' listing.pk %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    {{ bid_form.amount }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary btn-lg" type="submit"><b>Bid</b></button>
                    </div>
                </div>
            </form>
            {% if bid_form.amount.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for e in bid_form.amount.errors %}{{ e }}{% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p class="font-italic">Log in to make a bid</p>
        {% endif %}
        {% endif %}
        <h4 id="listing-seller" class="mb-3">Sold by <b>{{ listing.seller }}</b></h4>
        {% if listing.category is not None %}
        <p class="listing-category" class="text-muted mb-2">Listed in <a href="{% url 'category' listing.category.pk %}" class="text-muted">{{ listing.category }}</a></p>
        {% endif %}
        <p class="text-muted font-italic">Created {{ listing.time|date:"j M y, G:i" }}</p>

        
        {% if listing.is_active %}
            <div class="row mx-2 align-items-center">
            <span class="badge badge-success">Active</span>
            {% if user == listing.seller %}
                <form action="{% url 'listing_close' listing.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link btn-sm text-danger">× Close</button>
                </form>
            {% endif %}
            </div>
        {% else %}
            <span class="badge badge-secondary">Closed</span>
            {% if user == listing.winner %}
                <div class="alert alert-success my-3 font-weight-bold" role="alert">You won!</div>
            {% endif %}
        {% endif %}

    
    </div>
    </div>  
    <div id="listing-description">
        <p>{{ listing.description|linebreaks }}</p>
    </div>
    <hr>

    {% if user.is_authenticated %}
        <form action="{% url 'comment_new' listing.pk %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
            {{ comment_form.text }}
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Post</button>
            </div>
            </div>
        </form>
        {% if comment_form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {% for e in comment_form.text.errors %}{{ e }}{% endfor %}
            </div>
        {% endif %}
    {% else %}
        <p class="font-italic">Log in to post a comment</p>
    {% endif %}
    
    
    {% for comment in listing.comments.all|dictsortreversed:"time" %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col"><p class="card-title font-weight-bold">{{ comment.author.username }}:</p></div>
                <div class="col-md-4 col-5 text-right"><i class="text-muted">{{ comment.time|date:"j M y, G:i" }}</i></div>
            </div>
            <p class="card-text ml-3">{{ comment.text }}</p>
          
        </div>
    </div>
    {% endfor %}
    
    
{% endblock %}
