@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

textarea {
    min-height: 400px;
}

button.list-group-item {
    background-color: #f4f4f4;
    filter: opacity(80%);
}

button.unread-item {
    font-weight: bold;
    background-color: #fff;
    filter: none;
}

button.active {
    filter: none;
}

#email-body {
    white-space: pre-wrap;
}

