@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.pagination .page-link {
    color: dimgrey;
}
.pagination .disabled .page-link {
    color: #ccc;
}
.page-item.active .page-link {
    border-color: grey;
    background: #aaa;
  }

.post-contents {
    white-space: pre-wrap;
}

.post-contents[contentEditable] {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.5pt grey;
    border-radius: 2pt;
}
.post-contents[contentEditable]:focus {
    box-shadow: 0 0 3pt 2pt cornflowerblue;
}

#like-btn:disabled {
    pointer-events: none;
}

#like-btn:hover > i, #like-btn.active > i {
    color: red;
}

@media only screen {
    .container { max-width: 720px; }
}
