{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if not name %}
        New Entry
    {% else %}
        Edit : {{ name }}
    {% endif %}
{% endblock %}

{% block nav %}
<input type="submit" form="edit_form" value="Save This Page"/>
{% endblock %}

{% block body %}
    {% if name %}
        <form id="edit_form" action="{% url 'edit' name %}" method="post">
    {% else %}
        <form id="edit_form" action="{% url 'new' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {% if name %}
        <input name="name" value="{{ name }}" type="hidden">
        {% endif %}
        {{ form }}

    </form>
{% endblock %}